<div ng-controller="layoutController" id="layout" class="layout">

    <div class="bar aboveBar">
        <p>{{currTitle}}</p>
    </div>

    <div class="bar bottomBar">
        <div class="btn restart" ng-click="restartGame()"><a class="restartLink" href='#1'>RESTART</a></div>
        <span class="screenNum">
            <a href={{prevScreen}}>
                <i class="fas fa-chevron-left bottomLinks"></i>
            </a>
            <span class="bottomLinks">  EKRAN  {{currScreen}} </span>
            <a href={{nextScreen}}>
                <i class="fas fa-chevron-right bottomLinks fire"></i>
            </a>
        </span>
    </div>

    <div id="layoutContent" class="layoutContent">
        <div class="sections">
            <div class="button buttonInfo" title="Instrukcje">
                <div class="buttonInsider fas fa-info" id="buttonInfo" ng-click="callLayout($event)"></div>
            </div>
            <div class="layoutSection hiddenSection" id="infoSection">
                <div class="close fas fa-times"  ng-click="callLayout($event)"></div>
                <div class="info sectionInsider">
                    <span>INFORMACJE</span><br><br>
                    <span>Witaj w interaktywnym szkoleniu "Turbo czeski"</span>
                </div>
            </div>

            <div class="button buttonDictionary" title="Słownik">
                <div class="buttonInsider fas fa-book" id="buttonDictionary" ng-click="callLayout($event)"></div>
            </div>
            <div class="layoutSection hiddenSection" id="dictionarySection">
                <div class="close fas fa-times"  ng-click="callLayout($event)"></div>
                <div class="dictionary sectionInsider">
                        <span>SŁOWNIK</span><br><br>
                    <ul>
                        <li ng-repeat="item in dictionary">
                            <span lang="cs-CZ" xml:lang="cs-CZ">{{item.word}} - </span>
                            <span>{{item.translate}}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="button buttonMap" title="Mapa">
                <div class="buttonInsider fas fa-map-signs" id="buttonMap" ng-click="callLayout($event)"></div>
            </div>
            <div class="layoutSection hiddenSection" id="mapSection">
                <div class="close fas fa-times"  ng-click="callLayout($event)"></div>
                <div class="map sectionInsider">
                        <span>MAPA SZKOLENIA</span><br><br>
                    <li class="mapBullets" ng-repeat="item in screenAll">
                        <a class="mapLinks" href=#/{{item.id}}>{{item.id}}. {{item.title}}</a>
                    </li>
                </div>
            </div>

            <div class="button buttonPoints" title="Punkty">
                <div class="buttonInsider far fa-star" id="buttonPoints" ng-click="callLayout($event)"></div>
            </div>
            <div class="layoutSection hiddenSection" id="pointsSection">
                <div class="close fas fa-times"  ng-click="callLayout($event)"></div>
                <div class="points sectionInsider">
                    <span>PUNKTY</span><br><br>
                    <ul>
                        <li ng-repeat="item in screenAll">
                            <span>{{item.title}}: </span>
                            <span id={{item.id}}> {{item.points}}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="button buttonCredits" title="O autorze">
                <div class="buttonInsider fas fa-user" id="buttonCredits" ng-click="callLayout($event)"></div>
            </div>
            <div class="layoutSection hiddenSection"  id="creditsSection">
                <div class="close fas fa-times"  ng-click="callLayout($event)"></div>
                <div class="credits sectionInsider">
                        <span>O AUTORZE</span><br><br>
                </div>
            </div>
        </div>
    </div>

</div>