<div ng-controller="screen05Controller" class="screen5" id="screen5">
    <div class="screen5Bg" id="screen5Bg"></div>
    <div id="notepad5" class="notepad5"></div>
    <div class="exercise">
        <p class="text5 order" id="text5">Wypróbuj nowe słówka w ćwiczeniach. Na początek dopasuj prawidłowe kategorie do wyrażeń.</p>
        <div class="drag5" id="drag5">
            <div class="dragables5" ng-repeat="drag in drags" id={{drag.name}} class="drag">
                <p class="dragWord5" lang="cs-CZ" xml:lang="cs-CZ">{{drag.title}}</p>
                <label>
                    <input type="button" id="greetings" ng-click="checkCategory($event)" name={{drag.name}} class="btn checkButton5" value="Powitania">
                </label>
                <label>
                    <input type="button" id="goodbyes" ng-click="checkCategory($event)" name={{drag.name}} class="btn checkButton5" value="Pożegnania">
                </label>
                <label>
                    <input type="button" id="behaviours" ng-click="checkCategory($event)" name={{drag.name}} class="btn checkButton5" value="Zwroty grzecznościowe">
                </label>
            </div>
        </div>
        <button class="submit btn" id="submit5" ng-disabled="disableBtn" ng-click="checkExercise()">Sprawdź</button>
        <p class="counter" id="counter5">Twój wynik to: {{points}}</p>

    </div>
</div>
        