<div ng-controller="screen05Controller">
    <div class="screenBg">
        <div class="exercise">
            <p class="text">Wypróbuj nowe słówka w ćwiczeniach. Na początek dopasuj prawidłowe kategorie do wyrażeń.</p>

            <div class="dragables" ng-repeat="drag in drags">
                <p class="drag" lang="cs-CZ" xml:lang="cs-CZ">{{drag.title}}</p>
                <label>
                    <input type="button" id="greetings" ng-click="checkCategory($event)" name={{drag.name}} class="checkButton" value="Powitania">
                </label>
                <label>
                    <input type="button" id="goodbyes" ng-click="checkCategory($event)" name={{drag.name}} class="checkButton" value="Pożegnania">
                </label>
                <label>
                    <input type="button" id="behaviours" ng-click="checkCategory($event)" name={{drag.name}} class="checkButton" value="Zwroty grzecznościowe">
                </label>
            </div>

            <button class="submit" ng-disabled="disableBtn" ng-click="checkExercise()">Sprawdź</button>
            <p>Twój wynik to: {{points}}</p>

        </div>
    </div>
</div>
        