<div ng-controller="screen04Controller" class="screen4" id="screen4">
    <div class="screen4Bg" id="screen4Bg"></div>
    <div class="exercise">
        <p class="text">Spróbujmy czegoś trudniejszego. Podczas rozmowy po czesku możemy chcieć się przedstawić, powiedzieć skąd pochodzimy oraz zapewnić, że znamy czeski w stopniu... umiarkowanym. Jak to zrobić? Sprawdźmy!</p>
        <div>
            <ul>
                <li ng-repeat="sentence in sentences">
                    <object class="sticker4" id={{sentence.id}} type="image/svg+xml" data="app/assets/images/sticker.svg"></object>
                    <div class="constainer4" id={{sentence.num}}>
                        <span lang="cs-CZ" xml:lang="cs-CZ">{{sentence.cz}}</span><br><br>
                        <span>{{sentence.pl}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>