<div ng-controller="screen03Controller" class="screen3" id="screen3">
    <div class="screen3Bg" id="screen3Bg"></div>
    <object class="desk3" id="desk3" object id="desk3" type="image/svg+xml" data="app/assets/images/desk.svg"></object>
    <div class="exercise3">
        <p class="text">"Tak" i "nie" to najczęście używane odpowiedzi na różne pytania. Jak zatem odpowiadać po czesku?</p>
        <div>
            <ul lang="cs-CZ" xml:lang="cs-CZ">
                <li ng-repeat="answear in answears">{{answear}}</li>
            </ul>
            <ul>
                <li ng-repeat="planswear in planswears">{{planswear}}</li>
            </ul>
        </div>
        <p>Teraz sprawdźmy, w jaki sposób powiedzieć "proszę", "dziękuję" i "przepraszam".</p>
        <div>
            <ul lang="cs-CZ" xml:lang="cs-CZ">
                <li ng-repeat="behaviour in behaviours">{{behaviour}}</li>
            </ul>
            <ul>
                <li ng-repeat="plbehaviour in plbehaviours">{{plbehaviour}}</li>
            </ul>
        </div>
    </div>
</div>