.fullSize {
    width: 1280px;
    height: 720px;
    border: 1px solid black;
    box-sizing: border-box;
}

#screen1 {
    background-image: url('../assets/images/bg2.jpg');
    background-position: 0 0;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    font-family: 'Pangolin', cursive;
    font-size: 40px;
}