* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.fullSize {
    width: 1280px;
    height: 720px;
    left: 0;
    top: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.whitePole {
    width: 500px;
    height: 720px;
    position: absolute;
    left: 1280px;
    top: 0;
    z-index: 999;
    background-color: white;
}

.order {
    font-weight: bold;
    font-size: 22px;
}

.word {
    font-size: 22px;
    font-family: 'Lobster', cursive;
}

@media (min-width: 1280px) {
    body {
      overflow-x: hidden;
    }
  }