.screen3 {
    background-color: #57c6d4;
    background-position: 0 0;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
}

.screen3Bg {
    background-image: url('../../assets/images/bg5.png');
    background-repeat: no-repeat;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.desk3 {
    z-index: 2;
    width: 1280px;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
}

.exercise3 {
    position: absolute;
    z-index: 3;
    top: 145px;
    left: 330px;
    width: 300px;
    height: 400px;
}

.order3 {
    position: absolute;
    top: 30px;
    left: 0;
}

.yes {
    position: absolute;
    top: 0;
    left: 5\70px;
}

.no {
    position: absolute;
    top: 0;
    left: 120px;
}

.ansCz {
    position: absolute;
    top: 150px;
    left: 10px;
}

.ansPl {
    position: absolute;
    top: 150px;
    left: 150px;
}

.order32 {
    position: absolute;
    top: 240px;
    left: 0;
}

.behCz {
    position: absolute;
    top: 350px;
    left: 10px;
}

.behPl {
    position: absolute;
    top: 350px;
    left: 150px;
}

.please {
    position: absolute;
    top: 300px;
    left: 0;
}

.thanks {
    position: absolute;
    top: 300px;
    left: 75px;
}

.sorry {
    position: absolute;
    top: 300px;
    left: 160px;
}